In [1]:
import polars as pl

file_name = "2022_place_canvas_history.csv"
start = '2022-04-01 12:00:00'
end = '2022-04-01 13:00:00'

In [18]:
# df = pl.read_csv(file_name)
# df

q1 = (
    pl.scan_csv(file_name)
    .filter((pl.col("timestamp") >= start) & (pl.col("timestamp") <= end))
    .group_by("coordinate")
    .len()
    .max()
)

In [19]:
frame = q1.collect()

In [21]:
frame

shape: (1, 2)
┌────────────┬─────┐
│ coordinate ┆ len │
│ ---        ┆ --- │
│ str        ┆ u32 │
╞════════════╪═════╡
│ 999,999    ┆ 4   │
└────────────┴─────┘

In [22]:
frame.row(0)[0]

'999,999'

In [3]:

# filter_df = df.filter(pl.col("timestamp").is_between(start, end))
filter_df = df.filter((pl.col("timestamp") >= start) & (pl.col("timestamp") <= end))

In [4]:
color = filter_df['pixel_color'].value_counts()
color.sort(by="count", descending=True).head()

shape: (5, 2)
┌─────────────┬───────┐
│ pixel_color ┆ count │
│ ---         ┆ ---   │
│ str         ┆ u32   │
╞═════════════╪═══════╡
│ #FFFFFF     ┆ 4     │
│ #2450A4     ┆ 3     │
│ #FFA800     ┆ 2     │
│ #3690EA     ┆ 2     │
│ #00A368     ┆ 2     │
└─────────────┴───────┘

In [5]:
coord = filter_df['coordinate'].value_counts()
coord.sort(by="count", descending=True).head()

shape: (5, 2)
┌────────────┬───────┐
│ coordinate ┆ count │
│ ---        ┆ ---   │
│ str        ┆ u32   │
╞════════════╪═══════╡
│ 5,29       ┆ 4     │
│ 1,1        ┆ 1     │
│ 42,42      ┆ 1     │
│ 313,759    ┆ 1     │
│ 902,982    ┆ 1     │
└────────────┴───────┘